.blind {
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  position: absolute;
}
.skip {
  position: absolute;
  top: -1px;
  left: 0;
  width: 100%;
  z-index: 4;
  a {
    background-color: #ccc;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(-100%);

    &:focus,
    &:active {
      transform: translateY(0);
      background-color: #000;
      color: #fff;
      text-align: center;
      padding: 10px 0;
    }
  }
}

.loading {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: #e43d67;
  z-index: 100;
  font-family: "SUITE-Regular", sans-serif;

  p {
    font-size: 100px;
    font-weight: 900;
    letter-spacing: -0.02em;
    color: #fff;

    @include mobile {
      font-size: 30px;
    }

    .char {
      opacity: 0;
      transform: scale(0.5);
    }
  }

  svg {
    position: absolute;
    bottom: 0;
    left: 0;
    transform: rotate(180deg) translateY(-100%);
  }
}

.wrapper {
  margin: 0 auto;
  overflow: hidden;
}

.inner {
  position: relative;
  max-width: 1162px;
  margin: 0 auto;
  padding: 0 24px;

  @include mobile {
    max-width: 640px;
  }
}
