@font-face {
  font-family: "ab";
  src: url('../fonts/ab.woff') format('woff');
  font-weight: 400;
}


@font-face {
  font-family: "Poppins";
  src: url('../fonts/pxiByp8kv8JHgFVrLEj6Z1xlFd2JQEk.woff2') format('woff2');

}


@font-face {
  font-family: 'SUITE-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2') format('woff2');
}