$desktop: 1280px;
@mixin desktop {
  // 1280 이하를 꾸미는거다.
  @media screen and (max-width: $desktop) {
    @content;
  }
}

$tablet: 1024px;
@mixin tablet {
  // 1024 이하를 꾸미는거다.
  @media screen and (max-width: $tablet) {
    @content;
  }
}

$mobile: 960px;
@mixin mobile {
  // 960 이하를 꾸미는거다.
  @media screen and (max-width: $mobile) {
    @content;
  }
}

@mixin ellipse($line: 1) {
  overflow: hidden;
  text-overflow: ellipsis;

  @if ($line > 1) {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: $line;
  } @else {
    white-space: nowrap;
  }
}

@mixin hidden_text_transition {
  overflow: hidden;
  position: relative;

  .text_top,
  .text_bottom {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: 0.3s;
  }

  .text_top {
    top: 0;
    left: 0;
  }

  .text_bottom {
    top: 100%;
    left: 0;
  }

  &:hover {
    .text_top {
      top: -100%;
    }

    .text_bottom {
      top: 0;
    }
  }
}

@keyframes waves {
  to {
    transform: translateX(1440px);
  }
}

@keyframes up-to {
  0% {
    height: 0%;
  }

  100% {
    height: 100%;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(1turn);
  }
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}
