.headline {
  position: absolute;
  transform: translateY(100%) rotate(90deg);
  font-size: 25px;
  color: #fff;
  letter-spacing: 0.04em;

  @include mobile {
    font-size: 13px;
  }

  &::after {
    position: absolute;
    right: 0;
    bottom: -7px;
    width: 100%;
    height: 3px;
    background: #fff;
    content: "";

    @include mobile {
      height: 1px;
      bottom: 0;
    }
  }
}

.title {
  display: block;
  font-family: "poppins", sans-serif;
  font-weight: 900;
  font-size: 13vw;
  color: #fff;
  letter-spacing: -0.02em;
  line-height: 1.1;
  @media screen and (min-width: 1440px) {
    font-size: 170px;
  }
  @include mobile {
    font-size: 8.5vw;
  }
}

.description_wrap {
  display: flex;
  align-items: center;
  position: relative;
  z-index: 1;
  padding-top: 40px;
  font-size: 22px;
  color: #fff;
  letter-spacing: normal;
  line-height: 1.67;

  .description {
    width: 50%;
  }

  @include mobile {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 45px;

    .description {
      display: block;
      width: 100%;
      padding: 0;
      font-size: 17px;
      font-weight: 900;
    }
  }
}

.link_more {
  display: flex;
  align-items: center;
  gap: 10px;

  @include mobile {
    margin-left: 116px;
  }

  .link_text {
    overflow: hidden;
    display: inline-block;
    position: relative;
    height: 32px;
    width: 200px;
    font-family: "Poppins", sans-serif;
    font-size: 31px;
    word-break: break-all;
    letter-spacing: -0.02em;
    text-align: center;

    &::after {
      display: block;
      position: absolute;
      bottom: 0;
      width: 100%;
      margin-top: 5px;
      border-bottom: 1.5px solid #fff;
      content: "";
    }

    @include mobile {
      width: 120px;
      height: 25px;
      font-size: 18.5px;
    }

    .text_top,
    .text_bottom {
      position: absolute;
      display: inline-block;
      width: 100%;
      transition: 0.2s;
      line-height: 1;

      @include mobile {
        line-height: 26px;
      }
    }

    .text_top {
      top: 0;
      left: 0;
    }

    .text_bottom {
      top: 100%;
      left: 0;
    }
  }

  .about_arrow {
    position: relative;
    overflow: hidden;
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1.5px solid #fff;

    @include mobile {
      width: 28px;
      height: 28px;
      border: 1px solid #fff;
    }

    .prev,
    .next {
      display: inline-block;
      position: absolute;
      top: 0%;
      width: 100%;
      height: 100%;
      transition: 0.2s;

      @include mobile {
        width: 12px;
        left: 50%;
        transform: translateX(-50%);
      }
    }

    .prev {
      position: absolute;
      right: 0%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .next {
      display: flex;
      align-items: center;
      justify-content: center;
      right: 100%;
    }
  }

  &:hover {
    .text_top {
      top: -100%;
    }

    .text_bottom {
      top: 0;
    }

    .prev {
      right: -100%;
    }

    .next {
      right: 0%;
    }
  }
}

.container {
  animation: up-to 1s reverse linear;

  &.is_hidden {
    height: 0;
  }
}

.section_visual {
  position: relative;

  .image_box {
    position: relative;
    padding-bottom: calc((1080 / 2220) * 100%);

    @include mobile {
      padding-bottom: calc((564 / 640) * 100%);
    }

    picture {
      position: absolute;
      width: 100%;
      height: 100%;
    }

    img {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .title_box {
    position: absolute;
    top: calc(100% - min(1440px, 100vw) * 402 / 2678 * 0.5 + 4.89171px);
    right: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20px;

    .title {
      font-family: "Poppins", sans-serif;
      max-width: 1200px;
      white-space: nowrap;
      overflow: hidden;

      .char {
        position: relative;
        z-index: 1;
        transform: scale(1);
      }

      @include mobile {
        max-width: none;
      }
    }

    .sub_title {
      font-size: 39px;
      color: #fff;
      transform: translateY(0%);
      opacity: 1;

      @include mobile {
        font-size: 16px;
      }
    }
  }
}

.section_concept {
  margin-top: 250px;

  @include mobile {
    margin-top: 100px;
  }

  .inner {
    @include mobile {
      padding: 0 20px;
    }
  }

  .headline {
    top: 0;
    right: 0;
  }

  .description_wrap {
    font-size: 42px;
  }
  .description {
    width: 100%;
  }
  .image_box {
    position: relative;
    max-width: 920px;
    margin: 0 auto;
    padding-bottom: calc((920 / 1114) * 100%);
    color: transparent;
    transform: translateY(-13%);
    transition: 1s;
    clip-path: polygon(
      100% 100%,
      0% 100%,
      0% 36.67%,
      2% 36%,
      4% 34.06%,
      6% 31.05%,
      8% 27.3%,
      10% 23.2%,
      12% 19.19%,
      14% 15.68%,
      16% 13.06%,
      18% 11.59%,
      20% 11.43%,
      22% 12.61%,
      24% 14.99%,
      26% 18.32%,
      28% 22.25%,
      30% 26.37%,
      32% 30.24%,
      34% 33.45%,
      36% 35.66%,
      38% 36.63%,
      40% 36.27%,
      42% 34.61%,
      44% 31.83%,
      46% 28.22%,
      48% 24.16%,
      50% 20.09%,
      52% 16.43%,
      54% 13.57%,
      56% 11.81%,
      58% 11.35%,
      60% 12.22%,
      62% 14.34%,
      64% 17.48%,
      66% 21.31%,
      68% 25.43%,
      70% 29.39%,
      72% 32.79%,
      74% 35.25%,
      76% 36.52%,
      78% 36.47%,
      80% 35.1%,
      82% 32.55%,
      84% 29.1%,
      86% 25.11%,
      88% 21%,
      90% 17.21%,
      92% 14.14%,
      94% 12.11%,
      96% 11.34%,
      98% 11.91%,
      100% 13.75%
    );

    &.on {
      clip-path: polygon(
        100% 100%,
        0% 100%,
        0% 0%,
        2% 0%,
        4% 0%,
        6% 0%,
        8% 0%,
        10% 0%,
        12% 0%,
        14% 0%,
        16% 0%,
        18% 0%,
        20% 0%,
        22% 0%,
        24% 0%,
        26% 0%,
        28% 0%,
        30% 0%,
        32% 0%,
        34% 0%,
        36% 0%,
        38% 0%,
        40% 0%,
        42% 0%,
        44% 0%,
        46% 0%,
        48% 0%,
        50% 0%,
        52% 0%,
        54% 0%,
        56% 0%,
        58% 0%,
        60% 0%,
        62% 0%,
        64% 0%,
        66% 0%,
        68% 0%,
        70% 0%,
        72% 0%,
        74% 0%,
        76% 0%,
        78% 0%,
        80% 0%,
        82% 0%,
        84% 0%,
        86% 0%,
        88% 0%,
        90% 0%,
        92% 0%,
        94% 0%,
        96% 0%,
        98% 0%,
        100% 0%
      );
    }

    @include mobile {
      max-width: 500px;
      padding-bottom: calc((410 / 490) * 100%);
    }

    img {
      position: absolute;
      top: 0;
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  .desc_effect {
    position: absolute;
    right: 28px;
    bottom: -88px;
    z-index: 1;
    width: 180px;
    animation: rotate 24s linear infinite;
    @include mobile {
      width: 70px;
      right: 7%;
      bottom: -5%;
    }
  }
}

.banner_area {
  position: relative;
  z-index: 1;
  margin-top: 100px;

  @include mobile {
    width: 792px;
    padding-top: 100px;
  }

  .marquee {
    display: flex;

    .img_box {
      width: 2299px;
      animation: marquee 30s linear infinite;

      @include mobile {
        width: 792px;
      }
    }
  }
}

.section_about {
  position: relative;
  max-width: 1162px;
  padding: 30px 0;
  padding-bottom: 100px;
  margin-left: calc(50vw - min(100vw, 1162px) / 2);

  @include mobile {
    width: calc(100% - 42px);
    max-width: calc(640px - 42px);
    margin-left: calc(50vw - min(100vw, 640px) / 2);
    padding: 113px 0;
  }

  .background {
    position: absolute;
    top: -16%;
    right: 0;
    bottom: 0;
    left: calc(-50vw - min(100vw, 1162px) * -1 / 2);
    max-height: 110vh;
    background: #e96880;

    @include mobile {
      left: calc(-50vw - min(100vw, 640px) * -1 / 2);
    }
  }

  .headline {
    left: 48px;
    @include mobile {
      left: 0;
    }
  }

  .title {
    position: relative;
    z-index: 1;
    padding-left: 230px;
    font-size: 110px;

    @include mobile {
      padding-left: 63px;
      padding-top: 30px;
      font-size: 42.5px;
    }
  }

  .image_box {
    position: relative;
    max-width: 1093px;
    height: 632px;
    margin-right: -135px;
    margin-left: auto;
    padding-bottom: calc((632 / 1093) * 100%);
    transform: translateY(-15%);
    transition: 1s;
    clip-path: polygon(
      100% 100%,
      0% 100%,
      0% 36.67%,
      2% 36%,
      4% 34.06%,
      6% 31.05%,
      8% 27.3%,
      10% 23.2%,
      12% 19.19%,
      14% 15.68%,
      16% 13.06%,
      18% 11.59%,
      20% 11.43%,
      22% 12.61%,
      24% 14.99%,
      26% 18.32%,
      28% 22.25%,
      30% 26.37%,
      32% 30.24%,
      34% 33.45%,
      36% 35.66%,
      38% 36.63%,
      40% 36.27%,
      42% 34.61%,
      44% 31.83%,
      46% 28.22%,
      48% 24.16%,
      50% 20.09%,
      52% 16.43%,
      54% 13.57%,
      56% 11.81%,
      58% 11.35%,
      60% 12.22%,
      62% 14.34%,
      64% 17.48%,
      66% 21.31%,
      68% 25.43%,
      70% 29.39%,
      72% 32.79%,
      74% 35.25%,
      76% 36.52%,
      78% 36.47%,
      80% 35.1%,
      82% 32.55%,
      84% 29.1%,
      86% 25.11%,
      88% 21%,
      90% 17.21%,
      92% 14.14%,
      94% 12.11%,
      96% 11.34%,
      98% 11.91%,
      100% 13.75%
    );

    &.on {
      clip-path: polygon(
        100% 100%,
        0% 100%,
        0% 0%,
        2% 0%,
        4% 0%,
        6% 0%,
        8% 0%,
        10% 0%,
        12% 0%,
        14% 0%,
        16% 0%,
        18% 0%,
        20% 0%,
        22% 0%,
        24% 0%,
        26% 0%,
        28% 0%,
        30% 0%,
        32% 0%,
        34% 0%,
        36% 0%,
        38% 0%,
        40% 0%,
        42% 0%,
        44% 0%,
        46% 0%,
        48% 0%,
        50% 0%,
        52% 0%,
        54% 0%,
        56% 0%,
        58% 0%,
        60% 0%,
        62% 0%,
        64% 0%,
        66% 0%,
        68% 0%,
        70% 0%,
        72% 0%,
        74% 0%,
        76% 0%,
        78% 0%,
        80% 0%,
        82% 0%,
        84% 0%,
        86% 0%,
        88% 0%,
        90% 0%,
        92% 0%,
        94% 0%,
        96% 0%,
        98% 0%,
        100% 0%
      );
    }

    @include mobile {
      left: 10%;
      right: 100%;
      width: calc(100vw - 85px);
      margin-top: -28px;
      margin-right: 0;
      margin-left: 84px;
      padding-bottom: calc((632 / 600) * 100%);
    }

    picture {
      height: 100%;
    }

    img {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .text_box {
    margin-left: 14%;
  }

  .link_more {
    align-items: flex-end;
  }
  .about_effect {
    max-width: 900px;

    @include mobile {
      max-width: 162.5px;
    }
  }
}

.section_research {
  position: relative;
  margin-top: 300px;

  @include mobile {
    margin-top: 30px;
  }

  .headline {
    top: 0;
    right: 0;
  }

  .inner {
    display: flex;
    flex-direction: column-reverse;
    width: calc(100vw - 125px);
    margin-left: calc(50vw - min(100vw, 1440px) / 2);

    @include mobile {
      width: calc(100vw - 85px);
      max-width: calc(640px - 85px);
      margin-left: calc(50vw - min(100vw, 640px) / 2);
      padding: 0;
    }
  }

  .text_box {
    z-index: 1;
    flex-direction: column;

    .title {
      margin-left: 60px;
      font-size: 110px;

      br:nth-child(2) {
        display: none;
      }

      @include mobile {
        font-size: 42.5px;
        margin-left: 24px;

        br:nth-child(2) {
          display: block;
        }
      }
    }
  }

  .description_wrap {
    margin-left: 60px;
    align-items: flex-end;

    @include mobile {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 40px;
      margin-left: 90px;
    }

    .description {
      line-height: 1.5;
      br {
        &:nth-child(1) {
          display: none;

          @include mobile {
            display: block;
          }
        }
      }
    }

    .link_more {
      margin-left: 0;
    }
    .link_text {
      width: 250px;

      @include mobile {
        width: 150px;
      }
    }
  }

  .image_box {
    position: relative;
    max-width: 1093px;
    padding-bottom: 100%;
    margin-bottom: -54px;
    transition: 1s;
    clip-path: polygon(
      100% 100%,
      0% 100%,
      0% 36.67%,
      2% 36%,
      4% 34.06%,
      6% 31.05%,
      8% 27.3%,
      10% 23.2%,
      12% 19.19%,
      14% 15.68%,
      16% 13.06%,
      18% 11.59%,
      20% 11.43%,
      22% 12.61%,
      24% 14.99%,
      26% 18.32%,
      28% 22.25%,
      30% 26.37%,
      32% 30.24%,
      34% 33.45%,
      36% 35.66%,
      38% 36.63%,
      40% 36.27%,
      42% 34.61%,
      44% 31.83%,
      46% 28.22%,
      48% 24.16%,
      50% 20.09%,
      52% 16.43%,
      54% 13.57%,
      56% 11.81%,
      58% 11.35%,
      60% 12.22%,
      62% 14.34%,
      64% 17.48%,
      66% 21.31%,
      68% 25.43%,
      70% 29.39%,
      72% 32.79%,
      74% 35.25%,
      76% 36.52%,
      78% 36.47%,
      80% 35.1%,
      82% 32.55%,
      84% 29.1%,
      86% 25.11%,
      88% 21%,
      90% 17.21%,
      92% 14.14%,
      94% 12.11%,
      96% 11.34%,
      98% 11.91%,
      100% 13.75%
    );

    @include mobile {
      padding-bottom: calc((434 / 555) * 100%);
    }

    img {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &.on {
      clip-path: polygon(
        100% 100%,
        0% 100%,
        0% 0%,
        2% 0%,
        4% 0%,
        6% 0%,
        8% 0%,
        10% 0%,
        12% 0%,
        14% 0%,
        16% 0%,
        18% 0%,
        20% 0%,
        22% 0%,
        24% 0%,
        26% 0%,
        28% 0%,
        30% 0%,
        32% 0%,
        34% 0%,
        36% 0%,
        38% 0%,
        40% 0%,
        42% 0%,
        44% 0%,
        46% 0%,
        48% 0%,
        50% 0%,
        52% 0%,
        54% 0%,
        56% 0%,
        58% 0%,
        60% 0%,
        62% 0%,
        64% 0%,
        66% 0%,
        68% 0%,
        70% 0%,
        72% 0%,
        74% 0%,
        76% 0%,
        78% 0%,
        80% 0%,
        82% 0%,
        84% 0%,
        86% 0%,
        88% 0%,
        90% 0%,
        92% 0%,
        94% 0%,
        96% 0%,
        98% 0%,
        100% 0%
      );
    }
  }

  .slogan {
    position: absolute;
    top: 20%;
    right: -250px;
    width: 125px;
    padding-bottom: calc((80 / 125) * 100%);

    img {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    @include mobile {
      width: 48px;
      right: -68px;
    }
  }
}

.section_products {
  position: relative;

  .headline {
    top: 0;
    right: 0;

    @include mobile {
      right: auto;
      left: -14px;
      top: 8px;
    }
  }

  .inner {
    width: calc(100vw - 125px);

    @include mobile {
      max-width: none;
    }
  }

  .product_group {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 544px);
    justify-content: center;
    gap: 108px 84px;
    margin-top: 200px;

    @include desktop {
      grid-template-columns: repeat(2, 444px);
    }

    @include mobile {
      grid-template-columns: repeat(1, calc(100vw - 81px));
      gap: 36px 0;
      margin-top: 96px;
      padding: 0 20px;
    }
  }

  .product {
    position: relative;
    height: 862px;
    padding: 1px 0;
    line-height: 1.5;

    @include desktop {
      height: 762px;
    }

    @include mobile {
      height: 460px;
    }

    &:nth-child(2n) {
      transform: translateY(280px);

      @include mobile {
        transform: none;
      }
    }
  }

  .background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    border-radius: 360px;
    background-color: #e96880;
  }

  .content {
    position: absolute;
    right: 0;
    left: 0;
    height: 100%;

    .image_box {
      position: relative;
      top: 80px;
      left: 50%;
      z-index: 1;
      width: 193px;
      padding-bottom: 100%;
      transform: translateX(-50%);

      @include mobile {
        top: 7%;
        width: 121px;
        padding-bottom: 277px;
      }

      img {
        position: absolute;
        top: 0;
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }

    .text_box {
      position: absolute;
      right: 0;
      left: 0;
      bottom: 6.5%;
      display: flex;
      flex-direction: column;
      align-items: center;
      color: #fff;
      text-align: center;

      @include desktop {
        bottom: 10%;
      }

      .link_more {
        padding-left: 20px;

        @include mobile {
          margin-left: 0;
        }
      }

      .link_text {
        width: 160px;
        height: 23px;
        font-size: 20px;

        @include mobile {
          width: 110px;
          font-size: 12px;
        }
      }
    }
  }

  .product {
    &_name {
      z-index: 1;
      font-weight: 900;
      font-size: 18px;

      span {
        display: block;
      }

      @include mobile {
        font-size: 12px;
      }
    }

    .info {
      width: 100%;
      font-weight: 900;
      font-size: 18px;
      font-style: normal;

      @include mobile {
        font-size: 12px;
      }
    }
  }

  .visual_title {
    position: absolute;
    top: 8%;
    right: -9%;
    width: 224px;

    @include desktop {
      width: 170px;
      right: 0;
    }

    @include mobile {
      width: 112px;
      top: 32px;
      right: -20px;
    }
  }

  .link_all {
    position: absolute;
    left: calc(50% + 172px);
    bottom: 174px;
    margin-left: 0;
    color: #fff;

    .link_text {
      width: 160px;
    }

    @include mobile {
      position: relative;
      left: 0;
      bottom: 0;
      justify-content: center;

      .link_text {
        width: 100px;
      }
      .about_arrow {
        width: 36px;
        height: 36px;
      }
    }
  }
}

.section_news {
  background: #e96880;
  position: relative;
  margin-top: 256px;

  @include mobile {
    margin-top: 64px;
  }

  .headline {
    top: 10%;
    left: 50px;

    @include mobile {
      top: 5%;
      left: 5px;
    }
  }

  .inner {
    max-width: calc(100vw - 200px);
    padding: 106px 0;

    @include mobile {
      max-width: 640px;
      margin: auto 30px;
      padding: 100px 0 40px 0;
    }

    .content {
      position: relative;
      padding-top: 56px;

      .swiper {
        margin-left: 130px;
        transition: 1s;

        @include mobile {
          margin: 0;
        }
      }

      .link_news {
        display: flex;
        flex-direction: column-reverse;

        .text_box {
          display: block;
          color: #fff;

          .news_text {
            padding-top: 40px;
            font-size: 17px;
            letter-spacing: 0.04em;
            line-height: 1.6;
            font-family: "Poppins", sans-serif;
            @include ellipse(5);

            @include mobile {
              font-size: 14px;
              font-weight: 900;
            }
          }

          .news_date {
            font-size: 14.5px;
            padding-top: 16px;

            @include mobile {
              font-size: 11px;
            }
          }
        }

        .image_box {
          position: relative;
          padding-bottom: calc((217 / 392) * 100%);

          img {
            position: absolute;
            top: 0;
            height: 100%;
            width: 100%;
            object-fit: cover;
            transition: filter 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
          }

          &:hover {
            img {
              filter: brightness(1.16);
            }
          }
        }
      }

      .control_area {
        position: absolute;
        top: 0;
        right: 0;

        .slide_btn {
          width: 36px;
          height: 36px;
          border: 1px solid #fff;
          border-radius: 50%;
          background-size: 15px 15px;
          background: url("../images/ico_arrow.svg") no-repeat;
          background-position: center;
          cursor: pointer;
        }

        .swiper-button-disabled {
          opacity: 0.5;
        }

        .btn_prev {
          transform: rotate(180deg);
        }
      }
    }
  }
}

.section_link_banner {
  padding-top: 110px;
  padding-bottom: 172px;

  @include mobile {
    padding-top: 36px;
    padding-bottom: 92px;
  }

  .inner {
    max-width: 1140px;
    padding: 0;

    @include mobile {
      padding: 0 25px;
    }

    .banner_box {
      display: flex;
      align-items: center;
      height: 300px;
      margin-bottom: 110px;
      cursor: pointer;

      @include mobile {
        display: flex;
        flex-direction: column;
        max-width: calc(640px - 48px);
        height: auto;
        margin: 0 auto;
      }

      .image_box {
        position: relative;
        width: 570px;
        height: 100%;
        padding-bottom: calc((150 / 570) * 100%);

        @include mobile {
          width: 100%;
          padding-bottom: calc((311 / 590) * 100%);
        }
        img {
          position: absolute;
          top: 0;
          height: 100%;
          width: 100%;
          object-fit: cover;
          transition: filter 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
        }

        &:hover {
          img {
            filter: brightness(1.16);
          }
        }
      }

      .banner_link {
        display: flex;
        align-items: center;
        justify-content: center;
        background: #fff;
        height: 100%;
        width: 50%;
        gap: 30px;

        @include mobile {
          width: 100%;
          height: 65px;
          gap: 10px;
        }

        .image_box {
          width: 378px;

          @include mobile {
            width: 230px;
          }
        }

        img {
          object-fit: contain;
        }

        &::after {
          display: block;
          width: 13px;
          height: 20px;
          transition: 0.5s;
          background: url("../images/img_link_banner_arrow.png") no-repeat;
          background-size: contain;
          content: "";

          @include mobile {
            width: 8px;
            background-position: center;
          }
        }

        &:hover {
          &::after {
            transform: translateX(5px);
          }
        }
      }
    }

    .ingredient {
      font-size: 14px;
      font-family: "SUITE-Regular", sans-serif;
      color: #fff;
      letter-spacing: normal;
      line-height: 1.67;

      @include mobile {
        margin-top: 92px;
        font-size: 11px;
        line-height: 1.35;
      }
    }
  }
}
