/* footer */
.footer {
  position: relative;
  padding: 130px 0 100px;
  background: url("../images/footer_background.webp")50%/1440px auto;
  background-position: 0 bottom;
  transform-origin: center bottom;
  height: auto;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  @include mobile {
    padding: 80px 0 24px;
  }

  &_inner {
    width: calc(100vw - 240px);
    max-width: 1200px;
    margin: 0 auto;
    // padding-top: 80px;


    @include mobile {
      display: flex;
      flex-direction: column;
      gap: 55px;
      max-width: 640px;
      width: calc(100vw - 50px);
    }
  }

  &_logo {
    width: 100%;

    span {
      display: block;
      width: 100%;

      @include mobile {
        display: inline;
      }
    }

    .title {
      // font-size: 6vw;
      // line-height: 170px;
      font-size: 11vw;
      font-weight: bold;
      font-family: "Poppins", sans-serif;
      white-space: nowrap;

      br {
        display: none;
      }

      @include mobile {
        font-size: 20vw;
        line-height: 0.85;

        br {
          display: block;
        }

        // font-size: 22vw;
      }
    }

    .sub-title {
      font-size: 3vw;
      // font-size: 2vw;
      color: #fff;
      font-family: "SUITE-Regular", sans-serif;
      line-height: 1;


      @include mobile {
        font-size: 4vw;

      }

    }
  }

  .group-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 19px;
    color: #fff;
    padding-top: 100px;

    @include mobile {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 0;
    }

    .sns-area {
      display: flex;
      align-items: center;
      gap: 32px;

      @include mobile {
        align-items: center;
      }

      @include minDevice {
        gap: 20px;
      }

      .title {
        font-size: 18px;
        color: #fff;
        width: auto;
        font-family: "Poppins", sans-serif;

        br {
          display: none;
        }

        @include mobile {
          font-size: 16.5px;
        }

        @include minDevice {
          font-size: 12px;

          br {
            display: block;
          }
        }
      }

      .sns-list {
        display: flex;
        align-items: center;
        gap: 32px;

        @include minDevice {
          gap: 20px;
        }

        .sns-item {
          .instagram {
            &:before {

              content: "";
              display: block;
              width: 42px;
              height: 40px;
              background: url("../images/instagram.svg") no-repeat;
              background-size: cover;
              transition: 0.5s;

              @include mobile {
                width: 34px;
                height: 32px;
              }

              @include minDevice {
                width: 26px;
                height: 24px;
              }
            }

            &:hover {
              &::before {
                opacity: 0.5;
              }
            }
          }

          .twitter {
            &:before {
              content: "";
              display: block;
              width: 42px;
              height: 34px;
              background: url("../images/twitter.svg") no-repeat;
              background-size: cover;

              @include mobile {
                width: 34px;
                height: 28px;
              }

              @include minDevice {
                width: 26px;
                height: 20px;
              }
            }

            &:hover {
              &::before {
                opacity: 0.5;
              }
            }
          }
        }
      }

    }

    .group-grid {
      align-items: flex-start;
      // gap: 20px;
      display: grid;
      grid-template-columns: repeat(2, 0.8fr);
      // grid-template-columns: repeat(2, 1fr);
      padding: 0;
      // gap: 0 30px;
      gap: 0;

      @include mobile {
        font-size: 16px;
        grid-template-columns: repeat(2, 120px);
        // .nav-list {
        //   display: flex;
        //   flex-direction: column;
        //   gap: 24px;
        //   padding: 32px 0;

        //   .nav-item {

        //     a {
        //       display: block;
        //       position: relative;
        //       overflow: hidden;
        //       height: 15px;
        //       line-height: 15px;

        //       span {
        //         position: absolute;
        //         transition: 0.3s;
        //         width: 100%;
        //         line-height: 1;
        //         height: 100%;

        //         &.top {
        //           top: 0;
        //           left: 0;
        //         }

        //         &.bottom {
        //           top: 100%;
        //           left: 0;
        //         }
        //       }

        //       &:hover {
        //         .top {
        //           top: -100%;
        //         }

        //         .bottom {
        //           top: 0;
        //         }
        //       }
        //     }
        //   }
        // }
      }

      .nav-list {
        display: flex;
        flex-direction: column;
        gap: 20px;

        @include mobile {
          display: flex;
          flex-direction: column;
          gap: 24px;
          padding: 32px 0;
        }

        @include minDevice {
          font-size: 12px;
          gap: 10px;
        }

        .nav-item {
          a {
            display: block;
            position: relative;
            overflow: hidden;
            height: 20px;
            line-height: 20px;

            span {
              position: absolute;
              word-break: break-all;
              transition: 0.3s;
              width: 100%;
              height: 100%;

              &.top {
                top: 0;
                left: 0;
              }

              &.bottom {
                top: 100%;
                left: 0;
              }
            }

            &:hover {
              .top {
                top: -100%;
              }

              .bottom {
                top: 0;
              }
            }
          }
        }
      }
    }

    .sub-list {
      display: flex;
      flex-direction: column;
      gap: 10px;
      padding-top: 10px;

      @include mobile {
        padding-top: 5px;
        gap: 5px;
      }

      .sub-item {
        font-size: 16px;
        height: 16px;
        line-height: 16px;
        width: 100%;
        min-width: 140px;

        @include mobile {
          font-size: 11.5px;
        }

      }
    }

    .group-communication {
      grid-column: span 2;
      display: flex;
      flex-direction: column;
      font-size: 17px;
      gap: 24px;

      @include mobile {
        flex-direction: row;
        font-size: 12px;
      }

      a {
        display: flex;
        flex-direction: column;
        position: relative;
        overflow: hidden;
        height: 15px;
        line-height: 15px;
        width: 100%;

        &:nth-child(1) {
          width: 33%;
        }

        span {
          display: block;
          position: absolute;
          transition: 0.3s;
          width: 100%;
          word-break: break-all;

          &.top {
            top: 0;
            left: 0;
          }

          &.bottom {
            top: 100%;
            left: 0;
          }
        }

        &:hover {
          .top {
            top: -100%;
          }

          .bottom {
            top: 0;
          }
        }
      }

    }
  }

  .addr {
    font-size: 12px;
    padding-top: 48px;
  }
}




.footer_svg {
  position: absolute;
  top: 0%;
  width: 100%;
  transform: rotate(180deg);

}