/* header */

// 데스크탑 
.header {
  position: fixed;
  top: 28px;
  left: 0;
  right: 0;
  display: flex;
  align-items: flex-end;
  z-index: 3;

  background-color: transparent;
  overflow: hidden;
  cursor: pointer;

  @include mobile {
    top: 0;
    padding: 30px 20px;

  }

  .headline {
    text-transform: uppercase;
  }

  .menu-box {
    margin-left: auto;
    padding: 23px 65px;
    width: 224px;

    @include mobile {
      width: auto;
    }

    button {
      display: flex;
      width: 100%;

      &:hover {
        .menu-text {
          .top {
            top: -105%;
          }

          .bottom {
            top: 0;
          }
        }

        .burgerBtn {
          height: 22.5px;
        }
      }

      &.isAct {
        .menu-btn {
          .title {
            visibility: hidden;
          }
        }
      }

      .menu-text {
        position: relative;
        overflow: hidden;
        width: 100%;
        height: 20px;
        display: inline-block;

        @include mobile {
          width: 30px;
          height: 13px;
        }

        &.on {
          visibility: hidden;
        }

        span {
          display: inline-block;
          position: absolute;
          text-transform: uppercase;
          font-size: 25px;
          color: #fff;
          transition: 0.2s;
          line-height: 20px;
          width: 100%;

          @include mobile {
            font-size: 10px;
            line-height: 1;
          }

          &.top {
            top: 0;
            left: 0;
          }

          &.bottom {
            top: 100%;
            left: 0;
          }

        }

      }

      .burgerBtn {
        transform: translateY(0%);
        width: 27px;
        height: 22px;
        overflow: hidden;
        cursor: pointer;
        transition: 0.2s;

        i {
          background-color: #fff;
          position: absolute;
          left: 0;
          width: 100%;
          height: 4px;
          transition: all 200ms ease-in-out;

          &.positionTop {
            top: 0;
          }

          &.positionMiddle {
            top: 50%;
            transform: translateY(-50%);
          }

          &.positionBottom {
            top: 100%;
            transform: translateY(-100%);
          }
        }

        &.isAct {
          .positionTop {
            top: 50%;
            transform: translateY(-50%) rotate(45deg);
          }

          .positionMiddle {
            transform: scaleX(0);
          }

          .positionBottom {
            top: 50%;
            transform: translateY(-50%) rotate(-45deg);
          }

        }
      }

    }

    @include mobile {
      margin-left: auto;
      padding: 0;
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
      gap: 10px;
    }
  }


}

.gnb {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  background-color: #e43d67;
  // background-color: #ff5885;
  clip-path: circle(0% at 50% 50%);
  transition: 0.5s;

  &::before {
    content: "";
    display: block;
    background: url("../images/gnb_image.png") no-repeat;
    background-size: 100%;
    width: 440px;
    height: 100%;

    @include desktop {
      width: 400px;
    }

    @include mobile {
      display: none;
    }
  }

  &.isAct {
    clip-path: circle(100% at 50% 50%);
  }

  .group {
    margin: 0 auto;
    display: flex;
    align-items: flex-end;
    gap: 148px;
    margin: auto auto;

    @include mobile {
      display: block;
      height: 100%;
      margin: 0;
      padding: 63.5px 32px;
    }


    &-main {
      .nav-list {
        display: flex;
        flex-direction: column;
        gap: 28px;

        @include mobile {
          gap: 27px;
        }

        .nav-item {
          font-size: 30px;
          color: #fff;

          @include mobile {
            font-size: 40px;
            line-height: 1;
          }

          a {
            display: block;
            position: relative;
            overflow: hidden;
            height: 31px;
            line-height: 31px;

            span {
              position: absolute;
              transition: 0.3s;
              width: 100%;
              height: 100%;

              &.top {
                top: 0;
                left: 0;
              }

              &.bottom {
                top: 100%;
                left: 0;
              }
            }

            &:hover {
              .top {
                top: -100%;
              }

              .bottom {
                top: 0;
              }
            }
          }


          .sub-list {
            padding-top: 14px;
            display: flex;
            flex-direction: column;
            gap: 20px;

            @include mobile {
              padding: 20px 0;
              gap: 20px;
            }

            .sub-item {
              font-size: 14px;
              position: relative;
              overflow: hidden;
              height: 14px;
              line-height: 14px;

              @include mobile {
                font-size: 16px;
              }

              a {
                display: block;
                height: 14px;
                line-height: 1;
              }
            }
          }
        }
      }
    }

    &-sub {
      display: flex;
      flex-direction: column;
      gap: 88px;

      @include mobile {
        gap: 0px;
      }

      .sns-area {
        display: flex;
        flex-direction: column;
        gap: 24px;

        @include mobile {
          flex-direction: row;
          padding: 40px 0 30px 0;
        }

        .title {
          font-size: 18px;
          color: #fff;
          width: 100%;

          @include mobile {
            width: auto;
            display: flex;
            align-items: center;
          }
        }

        .sns-list {
          display: flex;
          align-items: center;
          gap: 32px;

          .sns-item {
            #instagram {
              &:before {
                content: "";
                display: block;
                width: 38px;
                height: 37px;
                background: url("../images/instagram.svg") no-repeat;
                background-size: contain;
                transition: 0.3s;

                @include mobile {
                  width: 34px;
                }
              }

              &:hover {
                &::before {
                  opacity: 0.5;
                }
              }
            }

            #twitter {
              &:before {
                content: "";
                display: block;
                width: 38px;
                height: 37px;
                background: url("../images/twitter.svg") no-repeat;
                background-size: contain;
                transition: 0.3s;
              }

              &:hover {
                &::before {
                  opacity: 0.5;
                }
              }
            }
          }
        }

      }
    }

    &-communication {
      display: flex;
      flex-direction: column;
      font-size: 14px;
      color: #fff;
      gap: 32px;

      @include mobile {
        flex-direction: row;
        font-size: 16.5px;
      }

      a {
        display: block;
        // display: flex;
        // flex-direction: column;
        position: relative;
        overflow: hidden;
        height: 15px;
        line-height: 15px;

        span {
          // display: block;
          position: absolute;
          transition: 0.3s;
          width: 100%;
          // word-break: break-all;

          &.top {
            top: 0;
            left: 0;
          }

          &.bottom {
            top: 100%;
            left: 0;
          }
        }

        &:hover {
          .top {
            top: -100%;
          }

          .bottom {
            top: 0;
          }
        }
      }
    }
  }


}