@keyframes waves {
  to {
    transform: translateX(1440px);
  }
}
@keyframes up-to {
  0% {
    height: 0%;
  }
  100% {
    height: 100%;
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(1turn);
  }
}
@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
@font-face {
  font-family: "ab";
  src: url("../fonts/ab.woff") format("woff");
  font-weight: 400;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/pxiByp8kv8JHgFVrLEj6Z1xlFd2JQEk.woff2") format("woff2");
}
@font-face {
  font-family: "SUITE-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2") format("woff2");
}
:root {
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
       text-size-adjust: 100%;
  cursor: default;
  line-height: 1;
  overflow-wrap: break-word;
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

* {
  margin: 0;
  padding: 0;
  color: inherit;
}

* {
  box-sizing: border-box;
}

*,
:after,
:before {
  box-sizing: border-box;
  flex-shrink: 0;
}

html,
body {
  height: 100%;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

button {
  background: none;
  border: 0;
  cursor: pointer;
}

a {
  text-decoration: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

ul {
  list-style: none;
}

body {
  font-family: "Poppins", sans-serif;
  color: #222222;
  letter-spacing: -0.025em;
  background-color: #e43d67;
}

fieldset {
  border: 0;
}

.blind {
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  position: absolute;
}

.skip {
  position: absolute;
  top: -1px;
  left: 0;
  width: 100%;
  z-index: 4;
}
.skip a {
  background-color: #ccc;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(-100%);
}
.skip a:focus, .skip a:active {
  transform: translateY(0);
  background-color: #000;
  color: #fff;
  text-align: center;
  padding: 10px 0;
}

.loading {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: #e43d67;
  z-index: 5;
  font-family: "SUITE-Regular", sans-serif;
}
.loading p {
  font-size: 100px;
  font-weight: 900;
  letter-spacing: -0.02em;
  color: #fff;
}
@media screen and (max-width: 960px) {
  .loading p {
    font-size: 30px;
  }
}
.loading p .char {
  opacity: 0;
  transform: scale(0.5);
}
.loading svg {
  position: absolute;
  bottom: 0;
  left: 0;
  transform: rotate(180deg) translateY(-100%);
}

.wrapper {
  margin: 0 auto;
  overflow: hidden;
}

.inner {
  position: relative;
  max-width: 1162px;
  margin: 0 auto;
  padding: 0 24px;
}
@media screen and (max-width: 960px) {
  .inner {
    max-width: 640px;
  }
}

.header {
  overflow: hidden;
  position: fixed;
  top: 48px;
  left: 0;
  right: 65px;
  z-index: 3;
  background-color: transparent;
  cursor: pointer;
}
@media screen and (max-width: 960px) {
  .header {
    top: 28px;
    right: 32px;
  }
}
.header .headline {
  text-transform: uppercase;
}
.header .menu_button {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  width: 100%;
  cursor: pointer;
}
.header .menu_button:hover .menu_text_top {
  top: -105%;
}
.header .menu_button:hover .menu_text_bottom {
  top: 0;
}
.header .menu_button:hover .hamburger_icon {
  height: 23px;
}
.header .menu_button[aria-pressed=true] .menu_text {
  visibility: hidden;
}
.header .menu_button[aria-pressed=true] .hamburger_icon .line_top {
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
}
.header .menu_button[aria-pressed=true] .hamburger_icon .line_middle {
  transform: scaleX(0);
}
.header .menu_button[aria-pressed=true] .hamburger_icon .line_bottom {
  top: 50%;
  transform: translateY(-50%) rotate(-45deg);
}
.header .menu_text {
  overflow: hidden;
  position: relative;
  width: 74px;
  height: 23px;
}
@media screen and (max-width: 960px) {
  .header .menu_text {
    display: none;
  }
}
.header .menu_text_top, .header .menu_text_bottom {
  display: inline-block;
  position: absolute;
  left: 0;
  font-size: 25px;
  color: #fff;
  line-height: 23px;
  transition: 0.2s;
  text-transform: uppercase;
}
.header .menu_text_top {
  top: 0;
  left: 0;
}
.header .menu_text_bottom {
  top: 100%;
  left: 0;
}
.header .hamburger_icon {
  overflow: hidden;
  transform: translateY(0%);
  width: 27px;
  height: 20px;
  transition: 0.2s;
  cursor: pointer;
}
.header .hamburger_icon .line_top,
.header .hamburger_icon .line_middle,
.header .hamburger_icon .line_bottom {
  position: absolute;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: #fff;
  transition: all 0.2s ease-in-out;
}
.header .hamburger_icon .line_top {
  top: 0;
}
.header .hamburger_icon .line_middle {
  top: 50%;
  transform: translateY(-50%);
}
.header .hamburger_icon .line_bottom {
  top: 100%;
  transform: translateY(-100%);
}

.gnb {
  display: none;
  top: 0;
  z-index: 2;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #e43d67;
  -webkit-clip-path: circle(0% at 50% 50%);
          clip-path: circle(0% at 50% 50%);
  transition: 0.5s;
}
.gnb::before {
  display: block;
  width: 440px;
  height: 100%;
  background: url("../images/img_gnb_slogan.png") no-repeat;
  background-size: 100%;
  content: "";
}
@media screen and (max-width: 960px) {
  .gnb::before {
    display: none;
  }
}
.gnb.is_active {
  position: fixed;
  display: flex;
  -webkit-clip-path: circle(100% at 50% 50%);
          clip-path: circle(100% at 50% 50%);
}
.gnb .nav {
  display: flex;
  align-items: flex-end;
  gap: 148px;
  margin: auto auto;
}
@media screen and (max-width: 960px) {
  .gnb .nav {
    display: block;
    height: 100%;
    margin: 0;
    padding: 63.5px 32px;
  }
}
.gnb .nav_list {
  display: flex;
  flex-direction: column;
  gap: 28px;
}
@media screen and (max-width: 425px) {
  .gnb .nav_list {
    gap: 20px;
  }
}
.gnb .nav_item {
  font-size: 30px;
  color: #fff;
}
@media screen and (max-width: 960px) {
  .gnb .nav_item {
    font-size: 40px;
  }
}
@media screen and (max-width: 425px) {
  .gnb .nav_item {
    font-size: 30px;
  }
}
.gnb .nav_link {
  display: block;
  height: 31px;
  line-height: 31px;
  overflow: hidden;
  position: relative;
}
.gnb .nav_link .text_top,
.gnb .nav_link .text_bottom {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: 0.3s;
}
.gnb .nav_link .text_top {
  top: 0;
  left: 0;
}
.gnb .nav_link .text_bottom {
  top: 100%;
  left: 0;
}
.gnb .nav_link:hover .text_top {
  top: -100%;
}
.gnb .nav_link:hover .text_bottom {
  top: 0;
}
.gnb .nav .sub_list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 14px;
}
@media screen and (max-width: 960px) {
  .gnb .nav .sub_list {
    gap: 20px;
    padding: 20px 0;
  }
}
.gnb .nav .sub_item {
  overflow: hidden;
  position: relative;
  height: 14px;
  font-size: 14px;
  line-height: 14px;
}
@media screen and (max-width: 960px) {
  .gnb .nav .sub_item {
    font-size: 16px;
  }
}
.gnb .nav .sub_item .nav_link {
  line-height: 1;
}
.gnb .social_contact_area {
  display: flex;
  flex-direction: column;
  gap: 88px;
}
@media screen and (max-width: 960px) {
  .gnb .social_contact_area {
    gap: 0;
  }
}
.gnb .social_contact_area .social_box {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
@media screen and (max-width: 960px) {
  .gnb .social_contact_area .social_box {
    flex-direction: row;
    padding: 40px 0 30px 0;
  }
}
@media screen and (max-width: 425px) {
  .gnb .social_contact_area .social_box {
    padding-top: 10px;
  }
}
.gnb .social_contact_area .social_box .title {
  width: 100%;
  font-size: 18px;
  color: #fff;
}
@media screen and (max-width: 960px) {
  .gnb .social_contact_area .social_box .title {
    display: flex;
    align-items: center;
    width: auto;
  }
}
.gnb .social_contact_area .social_box .sns_list {
  display: flex;
  align-items: center;
  gap: 32px;
}
.gnb .social_contact_area .social_box .instagram:before,
.gnb .social_contact_area .social_box .twitter:before {
  display: block;
  width: 38px;
  height: 37px;
  transition: 0.3s;
  content: "";
}
@media screen and (max-width: 960px) {
  .gnb .social_contact_area .social_box .instagram:before,
  .gnb .social_contact_area .social_box .twitter:before {
    width: 34px;
  }
}
.gnb .social_contact_area .social_box .instagram:hover::before,
.gnb .social_contact_area .social_box .twitter:hover::before {
  opacity: 0.5;
}
.gnb .social_contact_area .social_box .instagram:before {
  background: url("../images/ico_instagram.svg") no-repeat;
  background-size: contain;
}
.gnb .social_contact_area .social_box .twitter:before {
  background: url("../images/ico_twitter.svg") no-repeat;
  background-size: contain;
}
.gnb .social_contact_area .contact_box {
  display: flex;
  flex-direction: column;
  gap: 32px;
  font-size: 14px;
  color: #fff;
}
@media screen and (max-width: 960px) {
  .gnb .social_contact_area .contact_box {
    flex-direction: row;
    font-size: 16.5px;
  }
}
.gnb .social_contact_area .contact_link {
  display: block;
  height: 15px;
  white-space: nowrap;
  line-height: 1;
  overflow: hidden;
  position: relative;
}
.gnb .social_contact_area .contact_link .text_top,
.gnb .social_contact_area .contact_link .text_bottom {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: 0.3s;
}
.gnb .social_contact_area .contact_link .text_top {
  top: 0;
  left: 0;
}
.gnb .social_contact_area .contact_link .text_bottom {
  top: 100%;
  left: 0;
}
.gnb .social_contact_area .contact_link:hover .text_top {
  top: -100%;
}
.gnb .social_contact_area .contact_link:hover .text_bottom {
  top: 0;
}

.footer {
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  height: auto;
  padding: 130px 0 100px;
  background: url("../images/img_footer_background.webp") 50%/1440px auto;
  background-position: 0 bottom;
  transform-origin: center bottom;
}
@media screen and (max-width: 960px) {
  .footer {
    padding: 80px 0 24px;
  }
}
.footer_inner {
  width: calc(100vw - 240px);
  max-width: 1400px;
  margin: 0 auto;
}
@media screen and (max-width: 960px) {
  .footer_inner {
    display: flex;
    flex-direction: column;
    gap: 55px;
    max-width: 640px;
    width: calc(100vw - 50px);
  }
}
.footer_logo {
  width: 100%;
}
.footer_logo span {
  display: block;
  width: 100%;
}
@media screen and (max-width: 960px) {
  .footer_logo span {
    display: inline;
  }
}
.footer_logo .footer_logo_title {
  font-family: "Poppins", sans-serif;
  font-size: 11vw;
  font-weight: 900;
  color: #fff;
  white-space: nowrap;
  word-wrap: break-word;
  letter-spacing: -0.02em;
  line-height: 1.1;
}
@media screen and (min-width: 1440px) {
  .footer_logo .footer_logo_title {
    font-size: 180px;
  }
}
.footer_logo .footer_logo_title br {
  display: none;
}
@media screen and (max-width: 960px) {
  .footer_logo .footer_logo_title {
    font-size: 20vw;
    line-height: 0.85;
  }
  .footer_logo .footer_logo_title br {
    display: block;
  }
}
.footer_logo .footer_logo_sub_title {
  font-family: "SUITE-Regular", sans-serif;
  font-size: 3vw;
  font-weight: 900;
  color: #fff;
  line-height: 1;
}
@media screen and (max-width: 960px) {
  .footer_logo .footer_logo_sub_title {
    font-size: 4vw;
  }
}
.footer .footer_nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 100px;
  font-size: 19px;
  color: #fff;
}
@media screen and (max-width: 960px) {
  .footer .footer_nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
  }
}
.footer .footer_nav .sns_box {
  display: flex;
  align-items: center;
  gap: 32px;
}
@media screen and (max-width: 960px) {
  .footer .footer_nav .sns_box {
    align-items: center;
  }
}
.footer .footer_nav .sns_box .title {
  width: auto;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  color: #fff;
}
@media screen and (max-width: 960px) {
  .footer .footer_nav .sns_box .title {
    font-size: 16.5px;
  }
}
.footer .footer_nav .sns_box .title br {
  display: none;
}
.footer .footer_nav .sns_box .sns_list {
  display: flex;
  align-items: center;
  gap: 32px;
}
.footer .footer_nav .sns_box .sns_list .instagram:before,
.footer .footer_nav .sns_box .sns_list .twitter:before {
  display: block;
  width: 42px;
  height: 40px;
  transition: 0.5s;
  content: "";
}
@media screen and (max-width: 960px) {
  .footer .footer_nav .sns_box .sns_list .instagram:before,
  .footer .footer_nav .sns_box .sns_list .twitter:before {
    width: 34px;
    height: 32px;
  }
}
.footer .footer_nav .sns_box .sns_list .instagram:hover::before,
.footer .footer_nav .sns_box .sns_list .twitter:hover::before {
  opacity: 0.5;
}
.footer .footer_nav .sns_box .sns_list .instagram:before {
  background: url("../images/ico_instagram.svg") no-repeat;
  background-size: contain;
}
.footer .footer_nav .sns_box .sns_list .twitter:before {
  background: url("../images/ico_twitter.svg") no-repeat;
  background-size: contain;
}
.footer .footer_nav .links_area {
  display: grid;
  grid-template-columns: repeat(2, 0.8fr);
  align-items: flex-start;
  gap: 0;
  padding: 0;
}
@media screen and (max-width: 960px) {
  .footer .footer_nav .links_area {
    grid-template-columns: repeat(2, 120px);
    font-size: 16px;
  }
}
.footer .footer_nav_list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media screen and (max-width: 960px) {
  .footer .footer_nav_list {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 32px 0;
  }
}
.footer .footer_nav_link {
  display: block;
  height: 20px;
  line-height: 20px;
  overflow: hidden;
  position: relative;
}
.footer .footer_nav_link .text_top,
.footer .footer_nav_link .text_bottom {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: 0.3s;
}
.footer .footer_nav_link .text_top {
  top: 0;
  left: 0;
}
.footer .footer_nav_link .text_bottom {
  top: 100%;
  left: 0;
}
.footer .footer_nav_link:hover .text_top {
  top: -100%;
}
.footer .footer_nav_link:hover .text_bottom {
  top: 0;
}
.footer .footer_nav_link .text_top,
.footer .footer_nav_link .text_bottom {
  word-break: break-all;
}
.footer .footer_nav .sub_list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-top: 10px;
}
@media screen and (max-width: 960px) {
  .footer .footer_nav .sub_list {
    gap: 5px;
    padding-top: 5px;
  }
}
.footer .footer_nav .sub_item {
  width: 100%;
  min-width: 140px;
  height: 16px;
  font-size: 16px;
  line-height: 16px;
}
@media screen and (max-width: 960px) {
  .footer .footer_nav .sub_item {
    font-size: 11.5px;
  }
}
.footer .footer_nav .contact_box {
  display: flex;
  flex-direction: column;
  grid-column: span 2;
  gap: 24px;
  font-size: 17px;
}
@media screen and (max-width: 960px) {
  .footer .footer_nav .contact_box {
    flex-direction: row;
    font-size: 12px;
  }
}
.footer .footer_nav .contact_box .contact_link {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 15px;
  line-height: 15px;
  overflow: hidden;
  position: relative;
}
.footer .footer_nav .contact_box .contact_link .text_top,
.footer .footer_nav .contact_box .contact_link .text_bottom {
  position: absolute;
  width: 100%;
  height: 100%;
  transition: 0.3s;
}
.footer .footer_nav .contact_box .contact_link .text_top {
  top: 0;
  left: 0;
}
.footer .footer_nav .contact_box .contact_link .text_bottom {
  top: 100%;
  left: 0;
}
.footer .footer_nav .contact_box .contact_link:hover .text_top {
  top: -100%;
}
.footer .footer_nav .contact_box .contact_link:hover .text_bottom {
  top: 0;
}
.footer .footer_nav .contact_box .contact_link:nth-child(1) {
  width: 33%;
}
.footer .footer_nav .contact_box .contact_link .text_top,
.footer .footer_nav .contact_box .contact_link .text_bottom {
  display: block;
  word-break: break-all;
}
.footer .addr {
  padding-top: 48px;
  font-style: normal;
  font-size: 12px;
  line-height: 16px;
}

.footer_svg {
  position: absolute;
  top: 0%;
  width: 100%;
  transform: rotate(180deg);
}

.headline {
  position: absolute;
  transform: translateY(100%) rotate(90deg);
  font-size: 25px;
  color: #fff;
  letter-spacing: 0.04em;
}
@media screen and (max-width: 960px) {
  .headline {
    font-size: 13px;
  }
}
.headline::after {
  position: absolute;
  right: 0;
  bottom: -7px;
  width: 100%;
  height: 3px;
  background: #fff;
  content: "";
}
@media screen and (max-width: 960px) {
  .headline::after {
    height: 1px;
    bottom: 0;
  }
}

.title {
  display: block;
  font-family: "poppins", sans-serif;
  font-weight: 900;
  font-size: 13vw;
  color: #fff;
  letter-spacing: -0.02em;
  line-height: 1.1;
}
@media screen and (min-width: 1440px) {
  .title {
    font-size: 170px;
  }
}
@media screen and (max-width: 960px) {
  .title {
    font-size: 8.5vw;
  }
}

.description_wrap {
  display: flex;
  position: relative;
  z-index: 1;
  padding-top: 40px;
  font-size: 22px;
  color: #fff;
  letter-spacing: normal;
  line-height: 1.67;
}
.description_wrap .description {
  width: 50%;
}
@media screen and (max-width: 960px) {
  .description_wrap {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 45px;
  }
  .description_wrap .description {
    display: block;
    padding: 0;
    font-size: 17px;
    font-weight: 900;
  }
}

.link_more {
  display: flex;
  align-items: center;
  gap: 10px;
}
@media screen and (max-width: 960px) {
  .link_more {
    margin-left: 116px;
  }
}
.link_more .link_text {
  overflow: hidden;
  display: inline-block;
  position: relative;
  height: 32px;
  width: 200px;
  font-family: "Poppins", sans-serif;
  font-size: 31px;
  word-break: break-all;
  letter-spacing: -0.02em;
  text-align: center;
}
.link_more .link_text::after {
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  margin-top: 5px;
  border-bottom: 1.5px solid #fff;
  content: "";
}
@media screen and (max-width: 960px) {
  .link_more .link_text {
    width: 120px;
    height: 25px;
    font-size: 18.5px;
  }
}
.link_more .link_text .text_top,
.link_more .link_text .text_bottom {
  position: absolute;
  display: inline-block;
  width: 100%;
  transition: 0.2s;
  line-height: 1;
}
@media screen and (max-width: 960px) {
  .link_more .link_text .text_top,
  .link_more .link_text .text_bottom {
    line-height: 26px;
  }
}
.link_more .link_text .text_top {
  top: 0;
  left: 0;
}
.link_more .link_text .text_bottom {
  top: 100%;
  left: 0;
}
.link_more .about_arrow {
  position: relative;
  overflow: hidden;
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1.5px solid #fff;
}
@media screen and (max-width: 960px) {
  .link_more .about_arrow {
    width: 28px;
    height: 28px;
    border: 1px solid #fff;
  }
}
.link_more .about_arrow .prev,
.link_more .about_arrow .next {
  display: inline-block;
  position: absolute;
  top: 0%;
  width: 100%;
  height: 100%;
  transition: 0.2s;
}
@media screen and (max-width: 960px) {
  .link_more .about_arrow .prev,
  .link_more .about_arrow .next {
    width: 12px;
    left: 50%;
    transform: translateX(-50%);
  }
}
.link_more .about_arrow .prev {
  position: absolute;
  right: 0%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.link_more .about_arrow .next {
  display: flex;
  align-items: center;
  justify-content: center;
  right: 100%;
}
.link_more:hover .text_top {
  top: -100%;
}
.link_more:hover .text_bottom {
  top: 0;
}
.link_more:hover .prev {
  right: -100%;
}
.link_more:hover .next {
  right: 0%;
}

.container {
  animation: up-to 1s reverse linear;
}
.container.is_hidden {
  height: 0;
}

.section_visual {
  position: relative;
}
.section_visual .image_box {
  position: relative;
  padding-bottom: 48.6486486486%;
}
@media screen and (max-width: 960px) {
  .section_visual .image_box {
    padding-bottom: 88.125%;
  }
}
.section_visual .image_box picture {
  position: absolute;
  width: 100%;
  height: 100%;
}
.section_visual .image_box img {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.section_visual .title_box {
  position: absolute;
  top: calc(100% - min(1440px, 100vw) * 402 / 2678 * 0.5 + 4.89171px);
  right: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px;
}
.section_visual .title_box .title {
  font-family: "Poppins", sans-serif;
  max-width: 1200px;
  white-space: nowrap;
  overflow: hidden;
}
.section_visual .title_box .title .char {
  position: relative;
  z-index: 1;
  transform: scale(1);
}
@media screen and (max-width: 960px) {
  .section_visual .title_box .title {
    max-width: none;
  }
}
.section_visual .title_box .sub_title {
  font-size: 39px;
  color: #fff;
  transform: translateY(0%);
  opacity: 1;
}
@media screen and (max-width: 960px) {
  .section_visual .title_box .sub_title {
    font-size: 16px;
  }
}

.section_concept {
  margin-top: 250px;
}
@media screen and (max-width: 960px) {
  .section_concept {
    margin-top: 100px;
  }
}
@media screen and (max-width: 960px) {
  .section_concept .inner {
    padding: 0 20px;
  }
}
.section_concept .headline {
  top: 0;
  right: 0;
}
.section_concept .image_box {
  position: relative;
  max-width: 920px;
  margin: 0 auto;
  padding-bottom: 82.5852782765%;
  color: transparent;
  transform: translateY(-13%);
  transition: 1s;
  -webkit-clip-path: polygon(100% 100%, 0% 100%, 0% 36.67%, 2% 36%, 4% 34.06%, 6% 31.05%, 8% 27.3%, 10% 23.2%, 12% 19.19%, 14% 15.68%, 16% 13.06%, 18% 11.59%, 20% 11.43%, 22% 12.61%, 24% 14.99%, 26% 18.32%, 28% 22.25%, 30% 26.37%, 32% 30.24%, 34% 33.45%, 36% 35.66%, 38% 36.63%, 40% 36.27%, 42% 34.61%, 44% 31.83%, 46% 28.22%, 48% 24.16%, 50% 20.09%, 52% 16.43%, 54% 13.57%, 56% 11.81%, 58% 11.35%, 60% 12.22%, 62% 14.34%, 64% 17.48%, 66% 21.31%, 68% 25.43%, 70% 29.39%, 72% 32.79%, 74% 35.25%, 76% 36.52%, 78% 36.47%, 80% 35.1%, 82% 32.55%, 84% 29.1%, 86% 25.11%, 88% 21%, 90% 17.21%, 92% 14.14%, 94% 12.11%, 96% 11.34%, 98% 11.91%, 100% 13.75%);
          clip-path: polygon(100% 100%, 0% 100%, 0% 36.67%, 2% 36%, 4% 34.06%, 6% 31.05%, 8% 27.3%, 10% 23.2%, 12% 19.19%, 14% 15.68%, 16% 13.06%, 18% 11.59%, 20% 11.43%, 22% 12.61%, 24% 14.99%, 26% 18.32%, 28% 22.25%, 30% 26.37%, 32% 30.24%, 34% 33.45%, 36% 35.66%, 38% 36.63%, 40% 36.27%, 42% 34.61%, 44% 31.83%, 46% 28.22%, 48% 24.16%, 50% 20.09%, 52% 16.43%, 54% 13.57%, 56% 11.81%, 58% 11.35%, 60% 12.22%, 62% 14.34%, 64% 17.48%, 66% 21.31%, 68% 25.43%, 70% 29.39%, 72% 32.79%, 74% 35.25%, 76% 36.52%, 78% 36.47%, 80% 35.1%, 82% 32.55%, 84% 29.1%, 86% 25.11%, 88% 21%, 90% 17.21%, 92% 14.14%, 94% 12.11%, 96% 11.34%, 98% 11.91%, 100% 13.75%);
}
.section_concept .image_box.on {
  -webkit-clip-path: polygon(100% 100%, 0% 100%, 0% 0%, 2% 0%, 4% 0%, 6% 0%, 8% 0%, 10% 0%, 12% 0%, 14% 0%, 16% 0%, 18% 0%, 20% 0%, 22% 0%, 24% 0%, 26% 0%, 28% 0%, 30% 0%, 32% 0%, 34% 0%, 36% 0%, 38% 0%, 40% 0%, 42% 0%, 44% 0%, 46% 0%, 48% 0%, 50% 0%, 52% 0%, 54% 0%, 56% 0%, 58% 0%, 60% 0%, 62% 0%, 64% 0%, 66% 0%, 68% 0%, 70% 0%, 72% 0%, 74% 0%, 76% 0%, 78% 0%, 80% 0%, 82% 0%, 84% 0%, 86% 0%, 88% 0%, 90% 0%, 92% 0%, 94% 0%, 96% 0%, 98% 0%, 100% 0%);
          clip-path: polygon(100% 100%, 0% 100%, 0% 0%, 2% 0%, 4% 0%, 6% 0%, 8% 0%, 10% 0%, 12% 0%, 14% 0%, 16% 0%, 18% 0%, 20% 0%, 22% 0%, 24% 0%, 26% 0%, 28% 0%, 30% 0%, 32% 0%, 34% 0%, 36% 0%, 38% 0%, 40% 0%, 42% 0%, 44% 0%, 46% 0%, 48% 0%, 50% 0%, 52% 0%, 54% 0%, 56% 0%, 58% 0%, 60% 0%, 62% 0%, 64% 0%, 66% 0%, 68% 0%, 70% 0%, 72% 0%, 74% 0%, 76% 0%, 78% 0%, 80% 0%, 82% 0%, 84% 0%, 86% 0%, 88% 0%, 90% 0%, 92% 0%, 94% 0%, 96% 0%, 98% 0%, 100% 0%);
}
@media screen and (max-width: 960px) {
  .section_concept .image_box {
    max-width: 500px;
    padding-bottom: 83.6734693878%;
  }
}
.section_concept .image_box img {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.section_concept .desc_effect {
  position: absolute;
  right: 28px;
  bottom: -88px;
  z-index: 1;
  width: 180px;
  animation: rotate 24s linear infinite;
}
@media screen and (max-width: 960px) {
  .section_concept .desc_effect {
    width: 70px;
    right: 7%;
    bottom: -5%;
  }
}

.banner_area {
  position: relative;
  z-index: 1;
  margin-top: 100px;
}
@media screen and (max-width: 960px) {
  .banner_area {
    width: 792px;
    padding-top: 100px;
  }
}
.banner_area .marquee {
  display: flex;
}
.banner_area .marquee .img_box {
  width: 2299px;
  animation: marquee 30s linear infinite;
}
@media screen and (max-width: 960px) {
  .banner_area .marquee .img_box {
    width: 792px;
  }
}

.section_about {
  position: relative;
  max-width: 1162px;
  padding: 30px 0;
  padding-bottom: 100px;
  margin-left: calc(50vw - min(100vw, 1162px) / 2);
}
@media screen and (max-width: 960px) {
  .section_about {
    width: calc(100% - 42px);
    max-width: 598px;
    margin-left: calc(50vw - min(100vw, 640px) / 2);
    padding: 113px 0;
  }
}
.section_about .background {
  position: absolute;
  top: -16%;
  right: 0;
  bottom: 0;
  left: calc(-50vw - min(100vw, 1162px) * -1 / 2);
  max-height: 110vh;
  background: #e96880;
}
@media screen and (max-width: 960px) {
  .section_about .background {
    left: calc(-50vw - min(100vw, 640px) * -1 / 2);
  }
}
.section_about .headline {
  left: 48px;
}
@media screen and (max-width: 960px) {
  .section_about .headline {
    left: 0;
  }
}
.section_about .title {
  position: relative;
  z-index: 1;
  padding-left: 230px;
  font-size: 110px;
}
@media screen and (max-width: 960px) {
  .section_about .title {
    padding-left: 63px;
    padding-top: 30px;
    font-size: 42.5px;
  }
}
.section_about .image_box {
  position: relative;
  max-width: 1093px;
  height: 632px;
  margin-right: -135px;
  margin-left: auto;
  padding-bottom: 57.8225068618%;
  transform: translateY(-15%);
  transition: 1s;
  -webkit-clip-path: polygon(100% 100%, 0% 100%, 0% 36.67%, 2% 36%, 4% 34.06%, 6% 31.05%, 8% 27.3%, 10% 23.2%, 12% 19.19%, 14% 15.68%, 16% 13.06%, 18% 11.59%, 20% 11.43%, 22% 12.61%, 24% 14.99%, 26% 18.32%, 28% 22.25%, 30% 26.37%, 32% 30.24%, 34% 33.45%, 36% 35.66%, 38% 36.63%, 40% 36.27%, 42% 34.61%, 44% 31.83%, 46% 28.22%, 48% 24.16%, 50% 20.09%, 52% 16.43%, 54% 13.57%, 56% 11.81%, 58% 11.35%, 60% 12.22%, 62% 14.34%, 64% 17.48%, 66% 21.31%, 68% 25.43%, 70% 29.39%, 72% 32.79%, 74% 35.25%, 76% 36.52%, 78% 36.47%, 80% 35.1%, 82% 32.55%, 84% 29.1%, 86% 25.11%, 88% 21%, 90% 17.21%, 92% 14.14%, 94% 12.11%, 96% 11.34%, 98% 11.91%, 100% 13.75%);
          clip-path: polygon(100% 100%, 0% 100%, 0% 36.67%, 2% 36%, 4% 34.06%, 6% 31.05%, 8% 27.3%, 10% 23.2%, 12% 19.19%, 14% 15.68%, 16% 13.06%, 18% 11.59%, 20% 11.43%, 22% 12.61%, 24% 14.99%, 26% 18.32%, 28% 22.25%, 30% 26.37%, 32% 30.24%, 34% 33.45%, 36% 35.66%, 38% 36.63%, 40% 36.27%, 42% 34.61%, 44% 31.83%, 46% 28.22%, 48% 24.16%, 50% 20.09%, 52% 16.43%, 54% 13.57%, 56% 11.81%, 58% 11.35%, 60% 12.22%, 62% 14.34%, 64% 17.48%, 66% 21.31%, 68% 25.43%, 70% 29.39%, 72% 32.79%, 74% 35.25%, 76% 36.52%, 78% 36.47%, 80% 35.1%, 82% 32.55%, 84% 29.1%, 86% 25.11%, 88% 21%, 90% 17.21%, 92% 14.14%, 94% 12.11%, 96% 11.34%, 98% 11.91%, 100% 13.75%);
}
.section_about .image_box.on {
  -webkit-clip-path: polygon(100% 100%, 0% 100%, 0% 0%, 2% 0%, 4% 0%, 6% 0%, 8% 0%, 10% 0%, 12% 0%, 14% 0%, 16% 0%, 18% 0%, 20% 0%, 22% 0%, 24% 0%, 26% 0%, 28% 0%, 30% 0%, 32% 0%, 34% 0%, 36% 0%, 38% 0%, 40% 0%, 42% 0%, 44% 0%, 46% 0%, 48% 0%, 50% 0%, 52% 0%, 54% 0%, 56% 0%, 58% 0%, 60% 0%, 62% 0%, 64% 0%, 66% 0%, 68% 0%, 70% 0%, 72% 0%, 74% 0%, 76% 0%, 78% 0%, 80% 0%, 82% 0%, 84% 0%, 86% 0%, 88% 0%, 90% 0%, 92% 0%, 94% 0%, 96% 0%, 98% 0%, 100% 0%);
          clip-path: polygon(100% 100%, 0% 100%, 0% 0%, 2% 0%, 4% 0%, 6% 0%, 8% 0%, 10% 0%, 12% 0%, 14% 0%, 16% 0%, 18% 0%, 20% 0%, 22% 0%, 24% 0%, 26% 0%, 28% 0%, 30% 0%, 32% 0%, 34% 0%, 36% 0%, 38% 0%, 40% 0%, 42% 0%, 44% 0%, 46% 0%, 48% 0%, 50% 0%, 52% 0%, 54% 0%, 56% 0%, 58% 0%, 60% 0%, 62% 0%, 64% 0%, 66% 0%, 68% 0%, 70% 0%, 72% 0%, 74% 0%, 76% 0%, 78% 0%, 80% 0%, 82% 0%, 84% 0%, 86% 0%, 88% 0%, 90% 0%, 92% 0%, 94% 0%, 96% 0%, 98% 0%, 100% 0%);
}
@media screen and (max-width: 960px) {
  .section_about .image_box {
    left: 10%;
    right: 100%;
    width: calc(100vw - 85px);
    margin-top: -28px;
    margin-right: 0;
    margin-left: 84px;
    padding-bottom: 105.3333333333%;
  }
}
.section_about .image_box picture {
  height: 100%;
}
.section_about .image_box img {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.section_about .text_box {
  margin-left: 14%;
}
.section_about .link_more {
  align-items: flex-end;
}
.section_about .about_effect {
  max-width: 900px;
}
@media screen and (max-width: 960px) {
  .section_about .about_effect {
    max-width: 162.5px;
  }
}

.section_research {
  position: relative;
  margin-top: 300px;
}
@media screen and (max-width: 960px) {
  .section_research {
    margin-top: 30px;
  }
}
.section_research .headline {
  top: 0;
  right: 0;
}
.section_research .inner {
  display: flex;
  flex-direction: column-reverse;
  width: calc(100vw - 125px);
  margin-left: calc(50vw - min(100vw, 1440px) / 2);
}
@media screen and (max-width: 960px) {
  .section_research .inner {
    width: calc(100vw - 85px);
    max-width: 555px;
    margin-left: calc(50vw - min(100vw, 640px) / 2);
    padding: 0;
  }
}
.section_research .text_box {
  z-index: 1;
  flex-direction: column;
}
.section_research .text_box .title {
  margin-left: 60px;
  font-size: 110px;
}
.section_research .text_box .title br:nth-child(2) {
  display: none;
}
@media screen and (max-width: 960px) {
  .section_research .text_box .title {
    font-size: 42.5px;
    margin-left: 24px;
  }
  .section_research .text_box .title br:nth-child(2) {
    display: block;
  }
}
.section_research .description_wrap {
  margin-left: 60px;
  align-items: flex-end;
}
@media screen and (max-width: 960px) {
  .section_research .description_wrap {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    margin-left: 90px;
  }
}
.section_research .description_wrap .description {
  line-height: 1.5;
}
.section_research .description_wrap .description br:nth-child(1) {
  display: none;
}
@media screen and (max-width: 960px) {
  .section_research .description_wrap .description br:nth-child(1) {
    display: block;
  }
}
.section_research .description_wrap .link_text {
  width: 250px;
}
@media screen and (max-width: 960px) {
  .section_research .description_wrap .link_text {
    width: 150px;
  }
}
.section_research .image_box {
  position: relative;
  max-width: 1093px;
  padding-bottom: 100%;
  margin-bottom: -54px;
  transition: 1s;
  -webkit-clip-path: polygon(100% 100%, 0% 100%, 0% 36.67%, 2% 36%, 4% 34.06%, 6% 31.05%, 8% 27.3%, 10% 23.2%, 12% 19.19%, 14% 15.68%, 16% 13.06%, 18% 11.59%, 20% 11.43%, 22% 12.61%, 24% 14.99%, 26% 18.32%, 28% 22.25%, 30% 26.37%, 32% 30.24%, 34% 33.45%, 36% 35.66%, 38% 36.63%, 40% 36.27%, 42% 34.61%, 44% 31.83%, 46% 28.22%, 48% 24.16%, 50% 20.09%, 52% 16.43%, 54% 13.57%, 56% 11.81%, 58% 11.35%, 60% 12.22%, 62% 14.34%, 64% 17.48%, 66% 21.31%, 68% 25.43%, 70% 29.39%, 72% 32.79%, 74% 35.25%, 76% 36.52%, 78% 36.47%, 80% 35.1%, 82% 32.55%, 84% 29.1%, 86% 25.11%, 88% 21%, 90% 17.21%, 92% 14.14%, 94% 12.11%, 96% 11.34%, 98% 11.91%, 100% 13.75%);
          clip-path: polygon(100% 100%, 0% 100%, 0% 36.67%, 2% 36%, 4% 34.06%, 6% 31.05%, 8% 27.3%, 10% 23.2%, 12% 19.19%, 14% 15.68%, 16% 13.06%, 18% 11.59%, 20% 11.43%, 22% 12.61%, 24% 14.99%, 26% 18.32%, 28% 22.25%, 30% 26.37%, 32% 30.24%, 34% 33.45%, 36% 35.66%, 38% 36.63%, 40% 36.27%, 42% 34.61%, 44% 31.83%, 46% 28.22%, 48% 24.16%, 50% 20.09%, 52% 16.43%, 54% 13.57%, 56% 11.81%, 58% 11.35%, 60% 12.22%, 62% 14.34%, 64% 17.48%, 66% 21.31%, 68% 25.43%, 70% 29.39%, 72% 32.79%, 74% 35.25%, 76% 36.52%, 78% 36.47%, 80% 35.1%, 82% 32.55%, 84% 29.1%, 86% 25.11%, 88% 21%, 90% 17.21%, 92% 14.14%, 94% 12.11%, 96% 11.34%, 98% 11.91%, 100% 13.75%);
}
@media screen and (max-width: 960px) {
  .section_research .image_box {
    padding-bottom: 78.1981981982%;
  }
}
.section_research .image_box img {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.section_research .image_box.on {
  -webkit-clip-path: polygon(100% 100%, 0% 100%, 0% 0%, 2% 0%, 4% 0%, 6% 0%, 8% 0%, 10% 0%, 12% 0%, 14% 0%, 16% 0%, 18% 0%, 20% 0%, 22% 0%, 24% 0%, 26% 0%, 28% 0%, 30% 0%, 32% 0%, 34% 0%, 36% 0%, 38% 0%, 40% 0%, 42% 0%, 44% 0%, 46% 0%, 48% 0%, 50% 0%, 52% 0%, 54% 0%, 56% 0%, 58% 0%, 60% 0%, 62% 0%, 64% 0%, 66% 0%, 68% 0%, 70% 0%, 72% 0%, 74% 0%, 76% 0%, 78% 0%, 80% 0%, 82% 0%, 84% 0%, 86% 0%, 88% 0%, 90% 0%, 92% 0%, 94% 0%, 96% 0%, 98% 0%, 100% 0%);
          clip-path: polygon(100% 100%, 0% 100%, 0% 0%, 2% 0%, 4% 0%, 6% 0%, 8% 0%, 10% 0%, 12% 0%, 14% 0%, 16% 0%, 18% 0%, 20% 0%, 22% 0%, 24% 0%, 26% 0%, 28% 0%, 30% 0%, 32% 0%, 34% 0%, 36% 0%, 38% 0%, 40% 0%, 42% 0%, 44% 0%, 46% 0%, 48% 0%, 50% 0%, 52% 0%, 54% 0%, 56% 0%, 58% 0%, 60% 0%, 62% 0%, 64% 0%, 66% 0%, 68% 0%, 70% 0%, 72% 0%, 74% 0%, 76% 0%, 78% 0%, 80% 0%, 82% 0%, 84% 0%, 86% 0%, 88% 0%, 90% 0%, 92% 0%, 94% 0%, 96% 0%, 98% 0%, 100% 0%);
}
.section_research .slogan {
  position: absolute;
  top: 20%;
  right: -250px;
  width: 125px;
  padding-bottom: 64%;
}
.section_research .slogan img {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (max-width: 960px) {
  .section_research .slogan {
    width: 48px;
    right: -68px;
  }
}

.section_products {
  position: relative;
}
.section_products .headline {
  top: 0;
  right: 0;
}
@media screen and (max-width: 960px) {
  .section_products .headline {
    right: auto;
    left: -14px;
    top: 8px;
  }
}
.section_products .inner {
  width: calc(100vw - 125px);
}
@media screen and (max-width: 960px) {
  .section_products .inner {
    max-width: none;
  }
}
.section_products .product_group {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 544px);
  justify-content: center;
  gap: 108px 84px;
  margin-top: 200px;
}
@media screen and (max-width: 1280px) {
  .section_products .product_group {
    grid-template-columns: repeat(2, 444px);
  }
}
@media screen and (max-width: 960px) {
  .section_products .product_group {
    grid-template-columns: repeat(1, calc(100vw - 81px));
    gap: 36px 0;
    margin-top: 96px;
    padding: 0 20px;
  }
}
.section_products .product {
  position: relative;
  height: 862px;
  padding: 1px 0;
  line-height: 1.5;
}
@media screen and (max-width: 1280px) {
  .section_products .product {
    height: 762px;
  }
}
@media screen and (max-width: 960px) {
  .section_products .product {
    height: 460px;
  }
}
.section_products .product:nth-child(2n) {
  transform: translateY(280px);
}
@media screen and (max-width: 960px) {
  .section_products .product:nth-child(2n) {
    transform: none;
  }
}
.section_products .background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  border-radius: 360px;
  background-color: #e96880;
}
.section_products .content {
  position: absolute;
  right: 0;
  left: 0;
  height: 100%;
}
.section_products .content .image_box {
  position: relative;
  top: 80px;
  left: 50%;
  z-index: 1;
  width: 193px;
  padding-bottom: 100%;
  transform: translateX(-50%);
}
@media screen and (max-width: 960px) {
  .section_products .content .image_box {
    top: 7%;
    width: 121px;
    padding-bottom: 277px;
  }
}
.section_products .content .image_box img {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.section_products .content .text_box {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 6.5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  text-align: center;
}
@media screen and (max-width: 1280px) {
  .section_products .content .text_box {
    bottom: 10%;
  }
}
.section_products .content .text_box .link_more {
  padding-left: 20px;
}
@media screen and (max-width: 960px) {
  .section_products .content .text_box .link_more {
    margin-left: 0;
  }
}
.section_products .content .text_box .link_text {
  width: 160px;
  height: 23px;
  font-size: 20px;
}
@media screen and (max-width: 960px) {
  .section_products .content .text_box .link_text {
    width: 110px;
    font-size: 12px;
  }
}
.section_products .product_name {
  z-index: 1;
  font-weight: 900;
  font-size: 18px;
}
.section_products .product_name span {
  display: block;
}
@media screen and (max-width: 960px) {
  .section_products .product_name {
    font-size: 12px;
  }
}
.section_products .product .info {
  width: 100%;
  font-weight: 900;
  font-size: 18px;
  font-style: normal;
}
@media screen and (max-width: 960px) {
  .section_products .product .info {
    font-size: 12px;
  }
}
.section_products .visual_title {
  position: absolute;
  top: 8%;
  right: -9%;
  width: 224px;
}
@media screen and (max-width: 1280px) {
  .section_products .visual_title {
    width: 170px;
    right: 0;
  }
}
@media screen and (max-width: 960px) {
  .section_products .visual_title {
    width: 112px;
    top: 32px;
    right: -20px;
  }
}
.section_products .link_all {
  position: absolute;
  left: calc(50% + 172px);
  bottom: 174px;
  margin-left: 0;
  color: #fff;
}
.section_products .link_all .link_text {
  width: 160px;
}
@media screen and (max-width: 960px) {
  .section_products .link_all {
    position: relative;
    left: 0;
    bottom: 0;
    justify-content: center;
  }
  .section_products .link_all .link_text {
    width: 100px;
  }
  .section_products .link_all .about_arrow {
    width: 36px;
    height: 36px;
  }
}

.section_news {
  background: #e96880;
  position: relative;
  margin-top: 256px;
}
@media screen and (max-width: 960px) {
  .section_news {
    margin-top: 64px;
  }
}
.section_news .headline {
  top: 10%;
  left: 50px;
}
@media screen and (max-width: 960px) {
  .section_news .headline {
    top: 5%;
    left: 5px;
  }
}
.section_news .inner {
  max-width: calc(100vw - 200px);
  padding: 106px 0;
}
@media screen and (max-width: 960px) {
  .section_news .inner {
    max-width: 640px;
    margin: auto 30px;
    padding: 100px 0 40px 0;
  }
}
.section_news .inner .content {
  position: relative;
  padding-top: 56px;
}
.section_news .inner .content .swiper {
  margin-left: 130px;
  transition: 1s;
}
@media screen and (max-width: 960px) {
  .section_news .inner .content .swiper {
    margin: 0;
  }
}
.section_news .inner .content .link_news {
  display: flex;
  flex-direction: column-reverse;
}
.section_news .inner .content .link_news .text_box {
  display: block;
  color: #fff;
}
.section_news .inner .content .link_news .text_box .news_text {
  padding-top: 40px;
  font-size: 17px;
  letter-spacing: 0.04em;
  line-height: 1.6;
  font-family: "Poppins", sans-serif;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
}
@media screen and (max-width: 960px) {
  .section_news .inner .content .link_news .text_box .news_text {
    font-size: 14px;
    font-weight: 900;
  }
}
.section_news .inner .content .link_news .text_box .news_date {
  font-size: 14.5px;
  padding-top: 16px;
}
@media screen and (max-width: 960px) {
  .section_news .inner .content .link_news .text_box .news_date {
    font-size: 11px;
  }
}
.section_news .inner .content .link_news .image_box {
  position: relative;
  padding-bottom: 55.3571428571%;
}
.section_news .inner .content .link_news .image_box img {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: filter 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.section_news .inner .content .link_news .image_box:hover img {
  filter: brightness(1.16);
}
.section_news .inner .content .control_area {
  position: absolute;
  top: 0;
  right: 0;
}
.section_news .inner .content .control_area .slide_btn {
  width: 36px;
  height: 36px;
  border: 1px solid #fff;
  border-radius: 50%;
  background-size: 15px 15px;
  background: url("../images/ico_arrow.svg") no-repeat;
  background-position: center;
  cursor: pointer;
}
.section_news .inner .content .control_area .swiper-button-disabled {
  opacity: 0.5;
}
.section_news .inner .content .control_area .btn_prev {
  transform: rotate(180deg);
}

.section_link_banner {
  padding-top: 110px;
  padding-bottom: 172px;
}
@media screen and (max-width: 960px) {
  .section_link_banner {
    padding-top: 36px;
    padding-bottom: 92px;
  }
}
.section_link_banner .inner {
  max-width: 1140px;
  padding: 0;
}
@media screen and (max-width: 960px) {
  .section_link_banner .inner {
    padding: 0 25px;
  }
}
.section_link_banner .inner .banner_box {
  display: flex;
  align-items: center;
  height: 300px;
  margin-bottom: 110px;
  cursor: pointer;
}
@media screen and (max-width: 960px) {
  .section_link_banner .inner .banner_box {
    display: flex;
    flex-direction: column;
    max-width: 592px;
    height: auto;
    margin: 0 auto;
  }
}
.section_link_banner .inner .banner_box .image_box {
  position: relative;
  width: 570px;
  height: 100%;
  padding-bottom: 26.3157894737%;
}
@media screen and (max-width: 960px) {
  .section_link_banner .inner .banner_box .image_box {
    width: 100%;
    padding-bottom: 52.7118644068%;
  }
}
.section_link_banner .inner .banner_box .image_box img {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: filter 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.section_link_banner .inner .banner_box .image_box:hover img {
  filter: brightness(1.16);
}
.section_link_banner .inner .banner_box .banner_link {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  height: 100%;
  width: 50%;
  gap: 30px;
}
@media screen and (max-width: 960px) {
  .section_link_banner .inner .banner_box .banner_link {
    width: 100%;
    height: 65px;
    gap: 10px;
  }
}
.section_link_banner .inner .banner_box .banner_link .image_box {
  width: 378px;
}
@media screen and (max-width: 960px) {
  .section_link_banner .inner .banner_box .banner_link .image_box {
    width: 230px;
  }
}
.section_link_banner .inner .banner_box .banner_link img {
  -o-object-fit: contain;
     object-fit: contain;
}
.section_link_banner .inner .banner_box .banner_link::after {
  display: block;
  width: 13px;
  height: 20px;
  transition: 0.5s;
  background: url("../images/img_link_banner_arrow.png") no-repeat;
  background-size: contain;
  content: "";
}
@media screen and (max-width: 960px) {
  .section_link_banner .inner .banner_box .banner_link::after {
    width: 8px;
    background-position: center;
  }
}
.section_link_banner .inner .banner_box .banner_link:hover::after {
  transform: translateX(5px);
}
.section_link_banner .inner .ingredient {
  font-size: 14px;
  font-family: "SUITE-Regular", sans-serif;
  color: #fff;
  letter-spacing: normal;
  line-height: 1.67;
}
@media screen and (max-width: 960px) {
  .section_link_banner .inner .ingredient {
    margin-top: 92px;
    font-size: 11px;
    line-height: 1.35;
  }
}